<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsrs.simcard.mapper.ImsiGroupMapper">
    
    <!-- 批量插入IMSI组 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO imsi_group
        (group_name, mcc, mnc, description, status, create_by, create_time, update_by, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.groupName}, #{item.mcc}, #{item.mnc}, #{item.description}, 
            #{item.status}, #{item.createBy}, #{item.createTime}, 
            #{item.updateBy}, #{item.updateTime}
            )
        </foreach>
    </insert>
    
    <!-- 查询最大组ID -->
    <select id="selectMaxGroupId" resultType="java.lang.Long">
        SELECT MAX(id) FROM imsi_group
    </select>
    
</mapper> 